@import url("https://fonts.googleapis.com/css2?family=Average&display=swap");
header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: #100F0F;
  height: 5em;
  display: flex;
  align-content: center;
  direction: row;
  justify-content: space-between;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}
header button {
  text-decoration: none;
  background-color: #100F0F;
  color: #F1F1F1;
}
header .nav > li {
  float: left;
}
header .nav li a {
  background-color: #100F0F;
  color: #fff;
  text-decoration: none;
  padding: 10px 12px;
  display: block;
}
header .nav li a:hover {
  background-color: #434343;
}
header .nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}
header .nav li ul li {
  position: relative;
}
header .nav li ul li ul {
  right: -140px;
  top: 0px;
}
header .nav li:hover > ul {
  display: block;
}
header .nav ul,
header .nav ol {
  list-style: none;
}
header .header :nth-child(1) {
  background-color: #100F0F;
  width: 30%;
}
header .header :nth-child(2) {
  background-color: #100F0F;
  width: 30%;
}
header .header :nth-child(3) {
  background-color: #100F0F;
  width: 30%;
}
header #logo {
  height: 100%;
  /* width: 100%; */
}
header .divDerecha {
  margin-right: 1.5em;
  display: flex;
  align-items: center;
  justify-content: stretch;
  min-width: 20%;
}
header .imagenLogo {
  margin-right: 20px;
}
header #divIzquierda {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 1em;
  min-width: 20%;
}

#carruselIMagenes {
  height: auto;
  width: 100%;
  z-index: 1;
}

/*font-family: 'Average', serif;*/
@font-face { /*font-family: 'Cambria', regular;*/
  font-family: "Cambria";
  src: url("/fonts/cambria.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  font-family: "Cambria", regular;
}

body {
  margin: 0;
}
body h1 {
  font-family: "Average", serif;
  color: #E2DCC8;
}
body button {
  text-decoration: none;
  background-color: #100F0F;
  color: #F1F1F1;
}
body ::-webkit-scrollbar {
  width: 7px;
  background-color: #100F0F;
}
body ::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: #F1F1F1;
  border-radius: 10px;
}

.divShadow {
  height: 5%;
  background-color: #100F0F;
}

.shadowBox {
  box-shadow: 10% 10% 10px;
}

.cuadroTexto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #100F0F;
  height: 12em;
  align-items: center;
  color: white;
  padding: 3em;
}

#Marcas {
  display: flex;
  justify-content: space-around;
  font-family: "Cambria", regular;
  font-size: 3em;
}

#contenedorMarcas {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filaMarcas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.itemMarca {
  width: 17%;
  box-shadow: 0px 5px 9px grey;
  display: flex;
  justify-content: space-around;
  align-content: center;
  display: flex;
}

.imgMarca {
  width: 70%;
  align-self: center;
}

.gridfoot {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 150px;
  grid-row-gap: 0px;
  height: 16.5em;
  background-color: #100F0F;
  padding: 1em;
  color: white;
}

.div1 {
  grid-area: 1/1/2/2;
  margin-top: 1em;
  margin-left: 1em;
  font-size: smaller;
}

.div2 {
  grid-area: 1/2/2/3;
  margin-top: 1em;
  font-size: smaller;
}

.div3 {
  grid-area: 2/2/3/3;
}

.div4 {
  grid-area: 1/3/2/4;
}

.div5 {
  grid-area: 1/4/2/5;
  margin-top: 1em;
  font-size: smaller;
}

.div6 {
  grid-area: 2/3/3/4;
}

.div7 {
  grid-area: 3/3/4/4;
}

.prefoot {
  background-color: rgb(222, 222, 222);
  height: 9em;
}

.gridfoot p:hover {
  text-decoration: underline;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */
#reproductor img{
  width: 4em;
}
#reproductor{
  position: relative;
}